
html,
body {
  width: 100%;
  height: 100%;
  background-color: #e4ecff;
  font-family: 'Inter', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}


.App
{
    background-color: #F4F9FF;
    display: flex;
    justify-content: center;
    /* width: 1530px; */
    height: 500px;
    padding: 5rem;
     
}